body{
    background-color: rgb(123, 154, 169); ;
}
h1{
    color: rgb(22, 52, 76);
    font-size: 90px;
    font-family: verdana;
    text-align: center;
}
h1{
    color: rgb(22, 52, 76);
    font-size: 90px;
    font-family: verdana;
    text-align: center;
}
h3{
    color: rgb(63, 150, 193);
    font-size: 60px;
    font-family: verdana;
    text-align: center;
}

div {
  display: flex;              /* Use flexbox layout */
  justify-content: center;    /* Center the buttons horizontally */
  align-items: center;        /* Center the buttons vertically (if needed) */
  height: 100vh;              /* Optional: to center vertically relative to the viewport */
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
  }
  .container{
    text-align:center;
  }
 
  /* p{
    margin-bottom: 20px;
  } */

  button{
    margin-right: 10px;
    display: block;
  }
  .buttons{
    margin-top: 10px;
  }
.ending{
    text-align: center;
    font-family: Verdana;
    font-size: 10rem;
    color: white;
}